body {
  font-size: .875rem;
}

/*
 * blue-logo: #006AB5
 * blue-menu: #1b3361
 * blue-menu-hover: #686A92;
 */

#left-panel, #right-panel {
  background-color: #EEE;
}

#top-bar {
	background-color: #1b3361;
}

#top-bar .nav-link {
	color: #ffffff;
}

#top-bar .nav-item:hover {
	background-color: #626B91;
}

#top-bar .nav-brand {
	background-color: #F8F9FA;
}

#top-bar .active {
	background-color: #626B91;
}

.text-dark-menu {
  color: #1b3361;
}