
div.tooltip {	
    position: absolute;			
    text-align: center;			
    width: auto;					
    height: 28px;					
    padding: 5px;				
    font: 12px sans-serif;		
    background: #fffef2;/*lightsteelblue;	*/
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;
    border: 1px solid black;
}


.arc text {
    font: 10px sans-serif;
    text-anchor: middle;
}
  
.arc path {
    stroke: #fff;
}
  

.legend text {
    text-anchor: start
}

.pie.unfocus {
    opacity: 0.4
}

.ranking text {
    text-align: start
}

path.focus {
    stroke: black;
    stroke-width: 0.03;
}

.ranking text {
    font: 9px Arial;
    dominant-baseline: central;
}

.ranking text.focus {
    stroke: black;
    stroke-width: 0.5;
}

.ranking rect {
    fill: #147FC4
}

.ranking rect.focus {
    stroke: black;
    stroke-width: 1.5;
    fill: #fff8b0
}