
div.tooltip {	
    position: absolute;			
    text-align: center;			
    width: auto;					
    height: 28px;					
    padding: 5px;				
    font: 12px sans-serif;		
    background: #fffef2;/*lightsteelblue;	*/
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;
    border: 1px solid black;
}


.arc text {
    font: 10px sans-serif;
    text-anchor: middle;
}
  
.arc path {
    stroke: #fff;
}
  

.legend text {
    text-anchor: start
}

.pie.unfocus {
    opacity: 0.4
}

.ranking text {
    text-align: start
}

path.focus {
    stroke: black;
    stroke-width: 0.03;
}

.ranking text {
    font: 14px Arial;
    dominant-baseline: central;
}

.ranking text.focus {
    stroke: black;
    stroke-width: 0.5;
}

.ranking rect {
    fill: #147FC4
}

.ranking rect.focus {
    stroke: black;
    stroke-width: 1.5;
    fill: #fff8b0
}

.legend text.leg {
    font-size: 12px
}



/* Line graph */

/* Style the lines by removing the fill and applying a stroke */
.line {
    fill: none;
    stroke: #147FC4;
    stroke-width: 2;
}
  
.overlay {
  fill: none;
  pointer-events: all;
}

/* Style the dots by assigning a fill and stroke */
.dot {
    fill: #147FC4;
    stroke: #fff;
}
  
  .focus circle {
  fill: none;
  stroke: steelblue;
}

.map-legend-text {
    font-size: 12px;
    fill: #6c757d;
}

svg#content {
    margin-bottom: -60px
}

.slider-div {
    margin-bottom: 20px;
}
.slider-header {
    margin-bottom: 5px;
}

.slider {
    -webkit-appearance: none;
    width: 70%;
    height: 15px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #D2E5F6;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #D2E5F6;
    cursor: pointer;
  }